<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="design_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="design_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="net.orm.diagram.part.OrmDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/DiagramFile.gif"
         extensions="design_diagram"
         default="true"
         class="net.orm.diagram.part.OrmDiagramEditor"
         matchingStrategy="net.orm.diagram.part.OrmMatchingStrategy"
         contributorClass="net.orm.diagram.part.OrmDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="net.orm.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/DiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="net.orm.diagram.part.OrmCreationWizard"
  	     id="net.orm.diagram.part.OrmCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   
      <extension point="org.eclipse.ui.actionSets" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <actionSet
            label="%initDiagramActionLabel"
            visible="true"
            id="orm.diagram.InitDiagram">
         <action
               label="%initDiagramActionLabel"
               class="net.orm.diagram.part.OrmInitDiagramFileAction"
               menubarPath="file/additions"
               id="orm.diagram.InitDiagramAction">
         </action>
      </actionSet>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="OrmPresentation">
         <Priority name="Lowest"/>
         <ViewId id="net.orm.diagram.part.OrmDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="OrmRender">
         <Priority name="Lowest"/>
         <ViewId id="net.orm.diagram.part.OrmDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="net.orm.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="orm.diagram.general"
            name="%prefpage.orm.diagram.general"
            class="net.orm.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="orm.diagram.appearance"
            name="%prefpage.orm.diagram.appearance"
            category="orm.diagram.general"
            class="net.orm.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="orm.diagram.connections"
            name="%prefpage.orm.diagram.connections"
            category="orm.diagram.general"
            class="net.orm.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="orm.diagram.printing"
            name="%prefpage.orm.diagram.printing"
            category="orm.diagram.general"
            class="net.orm.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="orm.diagram.rulersAndGrid"
            name="%prefpage.orm.diagram.rulersAndGrid"
            category="orm.diagram.general"
            class="net.orm.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
      <page
            id="orm.diagram.pathmaps"
            name="%prefpage.orm.diagram.pathmaps"
            category="orm.diagram.general"
            class="org.eclipse.gmf.runtime.emf.ui.preferences.PathmapsPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="orm.diagram"
            labelProvider="net.orm.diagram.sheet.OrmSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="orm.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="orm.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="net.orm.diagram.sheet.OrmPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="net.orm.diagram.providers.OrmViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Orm"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,3001"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4004,4002,4003"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="net.orm.diagram.providers.OrmEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Orm"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,3001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4004,4002,4003"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="net.orm.diagram.providers.OrmModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="net.orm.diagram.edit.parts.SchemaEditPart" id="Schema_1000"/>
         <object class="net.orm.diagram.edit.parts.PredicateEditPart" id="Predicate_2001"/>
         <object class="net.orm.diagram.edit.parts.EntityEditPart" id="Entity_2002"/>
         <object class="net.orm.diagram.edit.parts.RoleEditPart" id="Role_3001"/>
         <context elements="Schema_1000,Predicate_2001,Entity_2002,Role_3001"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="net.orm.diagram.providers.OrmIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="net.orm.diagram.providers.OrmParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.Schema_1000"
               name="%metatype.name.Schema_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Schema"
               edithelper="net.orm.diagram.edit.helpers.SchemaEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.Predicate_2001"
               name="%metatype.name.Predicate_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Predicate"
               edithelper="net.orm.diagram.edit.helpers.PredicateEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.Entity_2002"
               name="%metatype.name.Entity_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Entity"
               edithelper="net.orm.diagram.edit.helpers.EntityEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.Role_3001"
               name="%metatype.name.Role_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Role"
               edithelper="net.orm.diagram.edit.helpers.RoleEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.EntityRole_4001"
               name="%metatype.name.EntityRole_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EntityRole"
               edithelper="net.orm.diagram.edit.helpers.EntityRoleEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <specializationType
               id="orm.diagram.EntityRole_4004"
               name="%metatype.name.EntityRole_4004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="orm.diagram.EntityRole_4001"/>
            <param name="semanticHint" value="4004"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.UniquenessConstraint_4002"
               name="%metatype.name.UniquenessConstraint_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UniquenessConstraint"
               edithelper="net.orm.diagram.edit.helpers.UniquenessConstraintEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http:///net.orm/orm.ecore">
         <metamodelType
               id="orm.diagram.SubType_4003"
               name="%metatype.name.SubType_4003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="SubType"
               edithelper="net.orm.diagram.edit.helpers.SubTypeEditHelper">
            <param name="semanticHint" value="4003"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="orm.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="orm.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="orm.diagram.TypeContext">
         <elementType ref="orm.diagram.Schema_1000"/>
         <elementType ref="orm.diagram.Predicate_2001"/>
         <elementType ref="orm.diagram.Entity_2002"/>
         <elementType ref="orm.diagram.Role_3001"/>
         <elementType ref="orm.diagram.EntityRole_4001"/>
         <elementType ref="orm.diagram.EntityRole_4004"/>
         <elementType ref="orm.diagram.UniquenessConstraint_4002"/>
         <elementType ref="orm.diagram.SubType_4003"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>

   <extension id="OrmApplication" point="org.eclipse.core.runtime.applications">
      <?gmfgen generated="true"?>
      <application>
         <run class="net.orm.diagram.application.OrmApplication"/>
      </application>
   </extension>

   <extension point="org.eclipse.ui.perspectives" id="rcp-perspective">
      <?gmfgen generated="true"?>
      <perspective
            id="net.orm.diagram.OrmPerspective"
            name="%perspectiveName"
            class="net.orm.diagram.application.DiagramEditorPerspective">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.commands" id="rcp-menu-commands">
      <?gmfgen generated="true"?>
      <command
            name="%openURIActionLabel"
            description="%openURIActionDescription"
            categoryId="org.eclipse.ui.category.file"
            id="orm.diagram.OpenURICommand"/>  
      <command
            name="%openActionLabel"
            description="%openActionDescription"
            categoryId="org.eclipse.ui.category.file"
            id="orm.diagram.OpenCommand"/>  
   </extension>

   <extension point="org.eclipse.ui.bindings" id="rcp-command-bindings">
      <?gmfgen generated="true"?>
      <key
            commandId="orm.diagram.OpenURICommand"
            sequence="M1+U"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="orm.diagram.OpenCommand"
            sequence="M1+O"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>

   <extension point="org.eclipse.ui.actionSets" id="rcp-actions">
      <?gmfgen generated="true"?>
      <actionSet
            label="%applicationActionSetLabel"
            visible="true"
            id="orm.diagram.ActionSet">
         <action
               label="%newDiagramActionLabel"
               class="net.orm.diagram.application.DiagramEditorActionBarAdvisor$NewDiagramAction"
               menubarPath="file/new/additions"
               id="orm.diagram.NewDiagramAction">
         </action>
         <action
               label="%aboutActionLabel"
               class="net.orm.diagram.application.DiagramEditorActionBarAdvisor$AboutAction"
               menubarPath="help/additions"
               id="orm.diagram.AboutAction">
         </action>
         <action
               label="%openURIActionLabel"
               definitionId="orm.diagram.OpenURICommand"
               class="net.orm.diagram.application.DiagramEditorActionBarAdvisor$OpenURIAction"
               menubarPath="file/additions"
               id="orm.diagram.OpenURIAction">
         </action>
         <action
               label="%openActionLabel"
               definitionId="orm.diagram.OpenCommand"
               class="net.orm.diagram.application.DiagramEditorActionBarAdvisor$OpenAction"
               menubarPath="file/additions"
               id="orm.diagram.OpenAction">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="net.orm.diagram.part.OrmDiagramUpdateCommand"
         description="%update.diagram.description"
         id="net.orm.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="net.orm.diagram.updateDiagram"
         contextId="net.orm.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>
<extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="orm.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="net.orm.diagram.part.OrmDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="net.orm.diagram.edit.parts.SchemaEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

<extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="net.orm.diagram.part.OrmDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="orm.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="net.orm.diagram.part.OrmDiagramEditorID"
         defaultHandler="net.orm.diagram.part.LoadResourceAction"/>
   </extension>

<extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

</plugin>
